@inherits LayoutComponentBase

<PageTitle>SpaceTradersApp</PageTitle>

<div class="page bg-slate-950">
    <div class="sidebar bg-slate-800">
        <NavMenu />
    </div>

    <main class="bg-slate-800">
        <div class="top-row px-4">
            Aaa
        </div>

        <article class="content px-4 bg-slate-800">
            @Body
        </article>
    </main>
</div>
