<div class="top-row ps-3 navbar navbar-dark bg-slate-600">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SpaceTradersApp</a>
        <button title="Navigation menu" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="locationlookup">
                <span class="oi oi-plus" aria-hidden="true"></span> Location Lookup
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agent">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Agent
            </NavLink>
        </div>
    </nav>
</div>
